<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

<h1>Fruit Classifier</h1> <!-- Page Heading -->

<img src="{{  url_for('static', filename='images/bowl_fruit.png')  }}", alt="Bowl of fruit"> </img><br>


<a href="/predict_ui">Make Prediction</a><br> <!-- Hyperlink to predictions page -->
<a href="/metrics">Model Metrics</a><br> <!-- Hyperlink to model info page-->
<a href="https://github.com/grantmajor/fruitclassifier", target="_blank">Link to GitHub Repository</a>
