<!-- Import css file for side-by-side graph display -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">


<h1>Model Information</h1>

<ul>
    <li>Architecture: {{ info.architecture }}</li>
    <li>Epochs Trained: {{ info.epoch }}</li>
    <li>Validation Accuracy: {{ info.val_acc }}</li>
    <li>Classes: {{ info.num_classes }}</li>
</ul>

<h1>Model Metrics</h1>

<!-- Use figure container to display graphs side-by-side  -->
<div class="figure-container">
    <figure>
        <figcaption>Accuracy Curve</figcaption>
        <img src="{{ url_for('static', filename='metrics/plots/accuracy_curve.png') }}" alt="Accuracy Curve" width="500" height="400">
    </figure>

    <figure>
        <figcaption>Loss Curve</figcaption>
        <img src ="{{ url_for('static', filename='metrics/plots/loss_curve.png') }}" alt ="Loss Curve" width="500" height="400">
    </figure>
</div>

